
<h4>ABOUT</h4>
    <p>
      Hi! I am a software developer currently living in Brooklyn. I love writing code because software is a highly leveraged tool, where an individual or small team can have a massive impact. 
    </p>
    <p>
        For the last year, I was at Allure Security, where I mainly worked on a document tracking application, to help enterprises protect sensitive data. I am passionate about cyber security, especially designing software to stay ahead of constantly evolving threats.
    </p>
    <p>
    	Before Allure, I worked as a consultant for two years at <%= link_to "Eccella ", "http://www.eccella.com" %>building out enterprise software solutions. Previously, I studied at the University of Michigan where I completed a dual degree in Business and Electrical Engineering. 
    </p>
    <%= image_tag('me.jpg',  size: "600x400", alt: "picture" ) %>
    <p> </br>
    	My resume can be downloaded  <%= link_to "here." ,'data/BurtonResume2016.pdf', :target => "_blank" %>
    </p>
    <%= link_to image_tag('64-linkedin.png', size: "32x32", alt: "LinkedIn" ), 'https://www.linkedin.com/in/nelsonburton' %>
    <%= link_to image_tag('64-facebook.png', size: "32x32", alt: "Facebook" ), 'https://www.facebook.com/nelson.burton' %>
    <%# link_to image_tag('64-twitter.png', size: "32x32", alt: "Twitter" ), 'https://twitter.com/nxtlvlnelsn' %>
    <%= link_to image_tag('64-github.png', size: "32x32", alt: "Twitter" ), 'https://github.com/nelsonburton' %>

