
<h4>ABOUT</h4>
    <p>
      Hi! I live in New York City. I am passionate about technology, especially about how it's changing the world of finance. 
    </p>
    <p>
    	I worked as a consultant for two years at <%= link_to "Eccella ", "http://www.eccella.com" %>building out enterprise software solutions. Before that, I studied at the University of Michigan where I completed a dual degree in Business and Electrical Engineering. 
    </p>
    <%= image_tag('me.png',  size: "600x400", alt: "picture" ) %>
    <p> </br>
    	My resume can be downloaded  <%= link_to "here.", 'downloadresume' %>
    </p>
    <%= link_to image_tag('32-linkedin.png', alt: "LinkedIn" ), 'https://www.linkedin.com/in/nelsonburton' %>
    <%= link_to image_tag('32-facebook.png', alt: "Facebook" ), 'https://www.facebook.com/nelson.burton' %>
    <%= link_to image_tag('32-twitter.png', alt: "Twitter" ), 'https://twitter.com/nxtlvlnelsn' %>
    <%= link_to image_tag('32-github.png', alt: "Twitter" ), 'https://github.com/nelsonburton' %>

