<em>February 10, 2015</em>
<h3>Building a bench</h3>
 
<h4>Background</h4>
<p>

I decided I wanted a bench due to a lack of fitting furniture for an odd shaped room. But mainly wanted something on the balcony to take in the views of the city.</br> </br> 
		<%= image_tag('bench-4.jpg', alt: "bench-4" , class: 'img-responsive') %>
</br> </br> 
I planned out the bench using the diagram below.
</br> </br> 		<%= image_tag('bench-0.jpg', alt: "bench-0" , class: 'img-responsive') %></br> </br> 
I went to Home Depot to buy supplies and tools. I took a gypsy cab (mini van) home and began assembly. Miter box, with 90 and 45 degree cuts allowed nice degree of accuracy.
</br> </br> 		<%= image_tag('bench-1.jpg', alt: "bench-1" , class: 'img-responsive') %></br> </br> 
At some point Louie came home and helped me saw and assemble. Having 1 guy saw while I assembled saved me a long time, as the elbow grease of sawing with shitty tools was the hardest part. By the end of the weekend the bench was complete. 
</br> </br> 		<%= image_tag('bench-2.jpg', alt: "bench-2" , class: 'img-responsive') %></br> </br> 
Right now it's a great seat, especially for having a drink with friends and taking in the skyline, and for me, the highlight of the apartment.
</br> </br> 
		<%= image_tag('bench-3.jpg', alt: "bench-3" , class: 'img-responsive') %>

		</br> </p></br> 

