<!DOCTYPE html>
<html>
<head>
  <title>NELSON BURTON</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Roboto+Slab' rel='stylesheet' type='text/css'>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="container">
	<h1>NELSON BURTON</h1>
	    <%= link_to image_tag('banner.png', alt: "NELSON BURTON" , class: 'img-responsive'), '/' %>
<%= JSON.pretty_generate params if Rails.env.development?  %>

<div class="row">
	<div class="col-md-2">
		<%= render 'nav' %>
	</div>
	<div class="col-md-7 col-xs-12">
		<%= yield %>
	</div>
		<div class="col-md-3">
	</div>
</div>


</div>
</body>
</html>
